<div class="middle">
    <div class="inner">
        <div class="main">
            <!-- <div class="green section" ng-click="audioGreen($event);">
                <audio id="audio-green" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3" ></audio>
            </div> -->
            <div class="green section" ng-click="clickedSection('green');">
                <audio id="audio-green" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3" ></audio>
            </div>
            <div class="red section" ng-click="clickedSection('red');">
                <audio id="audio-red" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3" ></audio>
            </div>
            <div class="yellow section" ng-click="clickedSection('yellow');">
                <audio id="audio-yellow" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3" ></audio>
            </div>
            <div class="blue section" ng-click="clickedSection('blue');">
                <audio id="audio-blue" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3" ></audio>
            </div>
            <div class="center">
                <input type="text" ng-model="numberOfSteps" disabled>
                <h6 ng-click="startGame(); restartFn();">{{restartBtn}}</h6>
                <p><input type="checkbox" id="strict" ng-click="strictMode();"> strict</p>
                <button type="button" ng-click="startFn();">{{startBtn}}</button>
            </div>
            <audio id="errorSound" src="../audio/error.mp3" ></audio>
        </div>
    </div>
</div>
