<div class="middle">
    <div class="inner">
        <div class="main">
            <div class="green section"></div>
            <div class="red section"></div>
            <div class="yellow section"></div>
            <div class="blue section"></div>
            <div class="center">
                <input type="text" ng-model="numberOfSteps" disabled>
                <h6>start</h6>
                <!-- <label><input type="checkbox"> strict</label> -->
                <button type="button" ng-click="">{{startBtn}}</button>
            </div>
        </div>
    </div>
</div>
